<div class="row mt-5">
    <div class="col-md-6 offset-3 mb-3">
        <app-toast [message]="toast.message"></app-toast>
        <div class="card text-center">
            <div class="card-body">
                <img src="https://www.flexnetllc.com/images/easyblog_shared/July_2018/7-4-18/totw_network_profile_400.jpg" width="90" height="90" alt="userprofile_pic">
                <h5 class="card-title">Hi {{username}}...</h5>
                <a href="angApp/product" class="btn btn-success">Product List</a>
            </div>
            <div class="card-footer text-muted">
                You can also manage products.
            </div>
        </div>
    </div>
</div>